{% extends 'base.html' %}
{% load static %}

{% block body %}
<main class="principal">
    <section class="conta">
      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Adicione um novo Endereço</p>
        </div>
  
         <form  class="conta__form" method="post" action="{% url 'adicionar_endereco' %}">
  
          {% csrf_token %}

            <div class="conta__item ">
            <label for="rua">Rua</label>
            <input
              name="rua"
              type="text"
              placeholder="rua"
              value="{{ endereco.rua|default_if_none:'' }}"
            />
          </div>
          <div class="conta__item ">
            <label for="numero">Número</label>
            <input
              name="numero"
              type="number"
              placeholder="numero"
              value="{{ endereco.numero|default_if_none:'' }}"
            />
          </div>
          <div class="conta__item ">
            <label for="complemento">Complemento</label>
            <input
              name="complemento"
              type="text"
              placeholder="complemento"
              value="{{ endereco.complemento|default_if_none:'' }}"
            />
          </div>
          <div class="conta__item ">
            <label for="cep">CEP</label>
            <input
              name="cep"
              type="number"
              placeholder="cep"
              value="{{ endereco.cep|default_if_none:'' }}"
            />
          </div>
          <div class="conta__item ">
            <label for="cidade">cidade</label>
            <input
              name="cidade"
              type="text"
              placeholder="cidade"
              value="{{ endereco.cidade|default_if_none:'' }}"
            />
          </div>
          <div class="conta__item ">
            <label for="estado">estado</label>
            <input
              name="estado"
              type="text"
              placeholder="estado"
              value="{{ endereco.ruestadoa|default_if_none:'' }}"
            />
          </div>                                        
  
          <button class="subtotal__botao" type="submit">Salvar Endereço</button>
        </form>
        <a href="{% url 'checkout' %}">Voltar para o checkout</a>
      </div>
    </section>
  </main>
  
{% endblock %}