{% extends 'base.html' %}
{% load static %}
{% block body %}
    <h3>{{ produto.nome }}</h3>
    {%if tem_estoque %}

    <div class="produto">
        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" width="300" height="450">
        <p>Preço: R$ {{ produto.preco }}</p>
        {% if nome_cor_selecionada %}
            <p>Cor selecionada: {{ nome_cor_selecionada }}</p>
        {%else%}    
            <p>Sem cor selecionada</p>
        {% endif %} 

        {% for cor in cores %}
           <a href="{% url 'ver_produto' produto.id  cor.id %}">
                <i class="fa-solid fa-circle" style="color: {{ cor.codigo }}"></i> 
            </a>                
        {% endfor %}

        {% if tamanhos %}
            <p>Tamanhos disponíveis:</p>
            <ul>
                {% for tamanho in tamanhos %}
                    <li>{{ tamanho.nome }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Sem tamanhos disponíveis</p>
        {% endif %}

    </div>
    {%else%}
        <p>Produto sem estoque</p>
    {% endif %}
{% endblock %}