{% extends 'base.html' %}
{% load static %}

{% block body %}

<main class="principal">
    <section class="conta">
        {% if erro%}
            <p style="color: red;">{{ erro }}</p>
        {% endif %}
        {% if alterado %}
            <p style="color: green;">Dados salvos com sucesso.</p>
            <a href="{% url 'fazer_logout' %}">Sair</a>
        {% endif %}        
        <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Dados Pessoais</p>
        </div>

        <form
          class="conta__form"
          action="{% url 'minha_conta' %}"
          method="post"
        >
          {% csrf_token %}
          <div class="conta__item">
            <label for="nome">Nome</label>
            <input name="nome" type="text"
            placeholder="Nome Completo"
            {% if request.user.cliente.nome %}
                value={{request.user.cliente.nome}}
            {%endif%}
           />
          </div>


          <div class="conta__item conta__item--email">
            <label for="email">E-mail</label>
            <input name="email" type="email" 
            placeholder="email"
            {% if request.user.cliente.email %}
                value={{request.user.cliente.email}}
            {%endif%}
            />
          </div>


          <div class="conta__item">
            <label for="telefone">Telefone</label>
            <input name="telefone" type="number" 
            placeholder="telefone"
            {% if request.user.cliente.telefone %}
                value={{request.user.cliente.telefone}}
            {%endif%}
            
            />
          </div>

          <button class="subtotal__botao" type="submit">
            Salvar alterações
          </button>
        </form>
      </div>
      <div class="conta__container">
        <div class="checkout__titulos">
          <p class="checkout__titulo">Alterar senha</p>
        </div>

        <form
          class="conta__form"
          action="{% url 'minha_conta' %}"

          method="post"
        >
        {% csrf_token %}
          <div class="conta__item">
            <label for="senha_atual">Senha atual</label>
            <input name="senha_atual" type="password" />
          </div>
          <br>
          <div style="display: flex; flex-direction: column; width: 100%; gap: 16px;">            
            <div class="conta__item">
                <label for="nova_senha">Nova senha</label>
                <input name="nova_senha" type="password" required/>
            </div>
        
            <div class="conta__item">
                <label for="nova_senha_confirmacao">Confirmação da senha</label>
                <input name="nova_senha_confirmacao" type="password" required/>
            </div>
        </div>

          <button class="subtotal__botao" type="submit">
            Salvar alterações
          </button>
        </form>
      </div>      
    </section>
</main>

{% endblock %}